header {
  background-color: #eff1c5;
  margin: 0;
}

.header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.header h1 {
  color: #035e7b;
}

.header-icon {
  width: 15%;
  height: 15%;
}
