@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
}

h2 {
  text-align: center;
}

p {
  text-align: justify;
}

.container {
  max-width: 35rem;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 40px;
}

/*---------  obsah outletu (profily, o projektu apod. )-------------------------------*/

.profile-pic {
  width: 70%;
  border-radius: 10vw;
}

.card {
  text-align: center;
  font-size: 16px;
}

.card ul {
  text-align: justify;
}

.card h2,
.card h3 {
  color: #035e7b;
}

.quote {
  font-style: italic;
}

.card__text--center {
  text-align: center;
}

.card__text--center a {
  text-decoration: none;
  color: black;
}

.card__text--center a:hover {
  color: #035e7b;
}

.card__text--center a:visited {
  color: #035e7b;
}

/*--------- stylování navigace v Outletu -------------------*/

.nav-main {
  text-align: center;
  padding: 0.5rem;
  background-color: #035e7b;
}

.nav-main a {
  text-decoration: none;
  color: white;
  margin: 10px;
}

.nav-main a:hover {
  color: #eff1c5;
}
