.footer {
  background-color: #95f0ac;
  margin-top: 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  height: 10%;
}

.footer-text {
  font-size: 1vw;
  padding: 1rem;
}

/* nedaří se mi to přilepit ke spodku stránky :D */
